@model SEMaker.Models.Event

@{
    ViewData["Title"] = "Details";
}
<h2>Детали</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Город:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            Вид спорта:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sport)
        </dd>
        <dt>
            Дата:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Кол-во мест:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Places)
        </dd>
        <dt>
            Автор:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        var objevents = new DataAccessLayer();
        if (User.Identity.Name.Equals(@Model.Author))
        {
            <a asp-action="Edit" asp-route-id="@Model.ID">Редактировать</a> <nobr> |</nobr>
            <a asp-action="Delete" asp-route-id="@Model.ID">Удалить</a> <nobr> |</nobr>
            <a asp-action="GetFile" asp-route-id="@Model.ID">Получить заявки</a> <nobr> |</nobr>
        }
        else if (!objevents.CheckApplication(User.Identity.Name, @Model.ID))
        {
            <a asp-action="Apply" asp-controller="Event" asp-route-id="@Model.ID">Подвердить</a> <nobr> |</nobr>
        }
    }
    <a asp-action="Index">Назад к списку</a>
</div> 